################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
.idea
bin
obj
AppPackages
/AvaloniaiOSCrash_v11.1.0-beta1/WindowsSetup/BundleArtifacts/x86.txt
